/**
 * Déclaration des couleurs.
 */
 :root {
    --backgroundColor: #F5F3EF;
    --bookListColor: #FAF9F7;
    --buttonColor: #00AC66;
    --darkButtonColor: #006D41;
    --grayText: #a6a6a6;
    --darkGray: #292929;
    --lightgreen: #d1f6e7;
}

* {
    font-family: "Inter";
  }
  
 body {
    background-color: var(--backgroundColor);
}

h1, h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--darkButtonColor);
}

/**
 * Header
 */
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--backgroundColor);
    align-items: center;
}

 header ul {
    margin: 0;
    display: flex;
    align-items: center;
}

header li {
    margin: 20px;
    list-style: none;
}

.active {
    font-weight: bold;
}

.messaging {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.messaging img, .account img {
    height: 15px;
}

.nbrMessage {
    background-color: var(--darkGray);
    border-radius: 15px;
    color: #FFFFFF;
    padding: 3px;
    font-size: xx-small;
}

header > nav > a, .messaging, .account {
    padding: 20px;
    color: var(--darkGray);
}

.readers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    gap: 200px;
}

.readers_description {
    width: 330px;
    margin-top: 5rem;
    padding: 3rem 1rem;
}

.readers_description button, .progress_description button {
    margin-left: 0;
}

.readers_description button a, .progress_description button a {
    margin: 0 20px;
}

.readers_description p, .progress_description p, .values_description p {
    color: var(--darkGray);
}

.readers_img p {
    font-size: 12px;
    font-style: italic;
    color: var(--grayText);
    text-align: end;
    margin: 5px 15px 0 0;
}

/* Affichage des livres */
.book_search {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
   background-color: white;
   padding-left: 10px;
}

#search_input{
    border: none;
    height: 40px; 
    padding-left: 15px;
    font-size: 14px;
}
#search_input::placeholder {
    color: var(--grayText);
}

.bookList {
    background-color: var(--bookListColor);
    padding: 2rem 8rem;
    text-align: center;
}

.books_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
    flex-wrap: wrap;
}

.book_card {
    width: 200px;
    height: 324px;
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: left;
    margin: 25px;
}

.book_card_description h3 {
    margin: 18px 5px 10px 10px ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.book_card_description .book_card_author {
    margin: 5px 10px;
    font-size: 14px;
    color: var(--grayText);
}

.book_card_description .book_card_owner {
    margin: 22px 10px; 
    font-size: 10px;
    font-style: italic;
    color: var(--grayText);
}

.button {
    cursor: pointer;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    border: unset;
    background-color: var(--buttonColor);
    padding: 1rem 1.25rem;
    position: relative;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
    color: white;
}

.progress_button {
    background-color: var(--backgroundColor);
    color: var(--buttonColor);
    cursor: pointer;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    border: unset;
    padding: 1rem 1.25rem;
    position: relative;
    box-shadow: 0px 4px 7px 1px var(--buttonColor);
    z-index: 1;
}

.button:hover::after, .progress_button:hover::after {
    opacity: 1;
  }

.button::after, .progress_button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(175deg, #0e6537 0%, #00AC66 100%);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms;
}

.progress_button:hover {
    color: white;
}
  
.book_card_available {
    position: relative;
    top: -18.5rem;
    left: 7rem;  
}

.book_card_available_detail {
    position: absolute;
    top: 2.5rem;
    left: 7.3rem; 
}

.progress, .progress_description, .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.progress_steps {
    display: flex;
    flex-direction: row;    
}

.progress_description p {
    width: 400px;
    text-align: center;
}

.values_description p {
    width: 400px;
}

.progress_steps p {
    width: 195px;
    margin: 20px;
    padding: 50px 40px;
    background-color: var(--bookListColor);
    border-radius: 10px;
    text-align: center;
}

.values_img {
    width: 550px;
    display: flex;
    font-size: 12px;
    font-style: italic;
    color: var(--grayText);
}

.values_img img {
    padding-left: 220px;
}

.values_img p {
    margin-left: 70px;
}

.connection-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bookListColor);
}

.connection-form form {
    width: 322px;
    margin: 180px;
}

.formGrid {
    display: flex;
    flex-direction: column;
}

.formGrid .button {
    margin: 1.5rem 0;
}

.formGrid input {
    margin: 0.5rem 0 1.5rem;
    border: none;
    height: 40px; 
}

.registration {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.registration a {
    text-decoration: underline;
}
.owner {
    display: flex;
    align-items: center;
}

.owner img {
    width: 48px;
}

.owner p {
    margin: 0 10px;
}
/** 
 * Footer global de la page.
 */
footer  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;;
    color: var(--darkGray);
    background-color: #FFFFFF;
}

footer > nav {
    display: flex;
    gap: 30px;
    margin: 20px;
}

/* profile */
.profile {
    background-color: #faf9f7;
    padding-bottom: 92px;
  }
  
  .profile_card {
    max-width: 95%; 
  }
  
  .profile_title {
    padding-top: 48px; 
    padding-bottom: 32px; 
    margin: 0;
  }
  
  .profile_data {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
  }
  
  .avatar {
    background-color: white;
    border-radius: 20px;
    width: 95%; 
    margin: auto; 
    padding: 20px; 
  }
  
  .avatar_img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 32px;
  }
  
  .avatar_input {
    display: none;
  }
  
  .avatar_label {
    cursor: pointer;
    margin-top: 5px;
    text-decoration: underline;
  }
  
  .avatar_line {
    width: 242px; 
    height: 1px;
    background-color: var(--backgroundColor);
    margin: 32px auto; 
  }
  
  .avatar_title {
    margin: 0;
    margin-bottom: 11px;
    font-size: 24px;
  }
  
  .avatar_date {
    margin-bottom: 21px;
    font-size: 14px;
    color: var(--grayText);
  }
  
  .avatar_subtitle {
    margin: 0;
    margin-bottom: 6px;
    font-size: 8px;
    font-weight: normal;
  }
  
  .avatar_count {
    font-size: 14px;
    display: flex;
    gap: 5px;
  }
  
  .personalInfo_title {
    margin: 0;
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .avatar_label {
    display: block;
    font-size: 14px;
    color: var(--grayText);
    margin-bottom: 10px;
  }
  
  .personalInfo_input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background-color: #edf2f6;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding: 0 14px;
    font-size: 14px;
    color: var(--grayText);
  }

  .personalInfo_input:focus {
    background: var(--lightgreen);
    color: var(--darkButtonColor);
  }
  
  .profile_books {
    max-width: 100%;
    background-color: white;
    margin-top: 2rem;
    border-radius: 20px;
  }
  
  .profileBooks_table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .profileBooks_head {
    border-bottom: 1px solid grey;
    padding: 8px;
    text-align: left;
  }
  
  .profile_books thead th {
    text-align: left;
    font-size: 0.5rem;
    padding: 20px 20px 10px 20px; 
    font-weight: normal;
  }
  
  .profile_books thead th:first-child {
    padding-left: 20px; 
  }
  
  .profileBooks_table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
  }
  
  .profileBooks_table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
  }
  
  .profile_books tbody td {
    border: none;
    font-size: 12px;
  }
  
  .profile_books tbody td:first-child {
    padding-bottom: 20px; 
    padding-top: 20px; 
  }
  
  .profile_books tbody tr:nth-child(even) {
    background-color: #edf2f6;
  }
  
  .profile_books tbody img {
    width: 78px;
    height: 78px;
    object-fit: cover;
  }
  
  .profile_books tbody .description {
    display: -webkit-box;
    -webkit-box-align: center;
    max-width: 128px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    font-style: italic;
  }
  
  .profile_books tbody .edit-delete a:first-child {
    margin-right: 20px; 
    color: black;
  }
  
  .profile_books tbody .edit-delete a:last-child {
    color: red;
  }
  
  .profile_books tbody .indisponible {
    background-color: #c46d6d;
    color: white;
    padding: 3.7px 13.31px;
    width: fit-content;
    border-radius: 29.58px;
  }
  
  .profile_books tbody .disponible {
    background-color: #6dc4a1;
    color: white;
    padding: 3.7px 13.31px;
    width: fit-content;
    border-radius: 29.58px;
  }
  
  .background-page-edit-book {
    background-color: #faf9f7;
    padding-bottom: 92px;
  }
  